<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Slot_Finder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <userSettings>
        <Slot_Finder.My.MySettings>
            <setting name="Library" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Red</string>
                        <string>Green</string>
                        <string>Blue</string>
                        <string>Orange</string>
                        <string>Gold</string>
                        <string>Grey</string>
                        <string>Silver</string>
                        <string>White</string>
                        <string>Black</string>
                        <string>Purple</string>
                        <string>Pink</string>
                        <string>Beige</string>
                        <string>Brown</string>
                        <string>Yellow</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="History" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Red</string>
                        <string>Green</string>
                        <string>Blue</string>
                        <string>Orange</string>
                        <string>Gold</string>
                        <string>Grey</string>
                        <string>Silver</string>
                        <string>White</string>
                        <string>Black</string>
                        <string>Purple</string>
                        <string>Pink</string>
                        <string>Beige</string>
                        <string>Brown</string>
                        <string>Yellow</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CustomName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>White</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CustomColor" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ColorList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>a</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Slot_Finder.My.MySettings>
    </userSettings>
</configuration>
